@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Extrabold.woff2") format("woff2"), url("../fonts/MoscowSans-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Regular.woff2") format("woff2"), url("../fonts/MoscowSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.875rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.5625rem 1.4375rem 1.375rem 1.4375rem;
  color: #ffffff;
  font-family: "MoscowSans";
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f7fa;
  border: 0.0625rem solid #ffffff;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.spollers__item {
  font-size: 1.25rem;
  min-width: 57.5625rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.spollers__title {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  line-height: 1.3888888889;
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #fff;
  padding: 1.5625rem 2rem;
  border-radius: 0.625rem;
  position: relative;
}

._spoller-init .spollers__title {
  will-change: transition;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  will-change: transform;
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #009a96;
  height: 2px;
  width: 15px;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active {
  will-change: transition;
  will-change: transform;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 0rem 6.75rem 1.5rem 2rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5625;
  color: #000;
  max-width: 57.5625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__media {
  max-width: 16.875rem;
}

.header__media img {
  max-width: 100%;
}

.header__text {
  text-transform: uppercase;
  line-height: 1.2272727273;
  padding: 0.4375rem;
  font-weight: 800;
  background-color: #E6253C;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__media {
  max-width: 16.875rem;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}

.footer__media img {
  max-width: 100%;
}

.footer__media p {
  text-align: right;
}

.wrapper {
  background-color: #009A96;
}

.hero {
  padding-bottom: 4.6875rem;
}

.hero__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

.hero__media-ibg {
  position: relative;
}

.no-webp .hero__media-ibg::after{
  background: url("../img/title.png") 0 0/cover no-repeat; }

.hero__media-ibg::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 2;
}

.hero__media-ibg::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30.9375rem;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(56.77%, rgba(0, 154, 150, 0)), color-stop(98.59%, #009a96));
  background: -o-linear-gradient(top, rgba(0, 154, 150, 0) 56.77%, #009a96 98.59%);
  background: linear-gradient(180deg, rgba(0, 154, 150, 0) 56.77%, #009a96 98.59%);
}

.hero__mouse {
  position: absolute;
  bottom: 4.6875rem;
  right: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 9.375rem;
}

.hero__mouse svg {
  width: 1.25rem;
  height: 1.875rem;
}

.timetable__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timetable__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.timetable__row:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.03125rem;
  bottom: -3.75rem;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.timetable__column {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 0.1875rem;
}

.timetable__date,
.timetable__city {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.225;
  text-transform: uppercase;
}

.timetable__time {
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.timetable__button {
  justify-self: flex-end;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto minmax(12.5rem, 26.0625rem);
  grid-template-columns: auto minmax(12.5rem, 26.0625rem);
  gap: 3.125rem;
}

.about__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  padding-left: 6.25rem;
}

.about__content::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 100%;
  position: absolute;
  left: 2.875rem;
  top: 0;
}

.about__title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 0.625;
  text-transform: uppercase;
}

.about__title span {
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: none;
}

.about__text {
  font-weight: 500;
  line-height: 1.5;
  max-width: 40.625rem;
}

.about__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.about__media-ibg {
  padding-bottom: 138.848921%;
  /* 579/417 */
  position: relative;
}

.about__media-ibg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57.58%, rgba(0, 154, 150, 0)), to(#009a96));
  background: -o-linear-gradient(top, rgba(0, 154, 150, 0) 57.58%, #009a96 100%);
  background: linear-gradient(180deg, rgba(0, 154, 150, 0) 57.58%, #009a96 100%);
}

.program__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37.375rem auto;
  grid-template-columns: 37.375rem auto;
}

.program__media-ibg {
  margin-left: 4.375rem;
  padding-bottom: 89.799331%;
  /* 537/598 */
}

.program__content {
  max-width: 40.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  line-height: 1.5;
}

.program__content span {
  font-weight: 600;
}

.slider__slider:not(:last-child) {
  margin-bottom: 0.75rem;
}

.slider__slide-ibg {
  padding-bottom: 16.3%;
  /* 222/318 */
}

.slider__slide-ibg:nth-child(odd) {
  -webkit-transform: translate(0px, -16px);
      -ms-transform: translate(0px, -16px);
          transform: translate(0px, -16px);
}

.second-slider__slide-ibg {
  padding-bottom: 16.3%;
  /* 222/318 */
}

.second-slider__slide-ibg:nth-child(odd) {
  -webkit-transform: translate(0px, -16px);
      -ms-transform: translate(0px, -16px);
          transform: translate(0px, -16px);
}

.maps__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maps__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.75rem;
  -ms-grid-columns: 12.5rem 1fr 1fr;
  grid-template-columns: 12.5rem 1fr 1fr;
}

.maps__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maps__destination svg {
  height: 1.625rem;
  width: 1.1875rem;
}

.maps__button {
  justify-self: flex-end;
}

.faq__title {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 1.22;
  text-align: center;
}

.swiper {
  overflow: visible;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 68.75em) {
  .header__container {
    padding-top: 4.375rem;
  }

  .header__text {
    font-size: 1.375rem;
  }

  .footer {
    padding-bottom: 9.6875rem;
  }

  .hero__media-ibg {
    height: 50.125rem;
  }

  .hero__media-ibg {
    width: 38.1875rem;
  }

  .hero__media-ibg::after {
    width: 37.875rem;
  }

  .hero__media-ibg::after {
    height: 15.625rem;
  }

  .hero__media-ibg::after {
    bottom: 4.6875rem;
  }

  .timetable {
    padding-bottom: 4.6875rem;
  }

  .timetable__container {
    row-gap: 7.5rem;
  }

  .timetable__row {
    -webkit-column-gap: 9.375rem;
       -moz-column-gap: 9.375rem;
            column-gap: 9.375rem;
  }

  .about {
    padding-top: 4.6875rem;
  }

  .about {
    padding-bottom: 3.75rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .program {
    padding-top: 3.75rem;
  }

  .program {
    padding-bottom: 4.6875rem;
  }

  .program__container {
    gap: 4.5625rem;
  }

  .program__content p:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .program__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .slider {
    padding-top: 4.6875rem;
  }

  .slider {
    padding-bottom: 6.25rem;
  }

  .maps {
    padding-top: 4.6875rem;
  }

  .maps {
    padding-bottom: 4.6875rem;
  }

  .maps__container {
    row-gap: 3.75rem;
  }

  .faq {
    padding-top: 4.6875rem;
  }

  .faq {
    padding-bottom: 9.375rem;
  }

  .faq__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    padding-top: 1.875rem;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.1875rem;
  }

  .header__media {
    max-width: 10.9375rem;
  }

  .header__text {
    font-size: 0.6875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .hero__media-ibg {
    height: 27.75rem;
  }

  .hero__media-ibg {
    width: 20.9375rem;
  }

  .hero__media-ibg::after {
    width: 20.9375rem;
  }

  .hero__media-ibg::after {
    height: 7.5rem;
  }

  .hero__media-ibg::after {
    bottom: 2.8125rem;
  }

  .hero__media-ibg::before {
    height: 15.625rem;
  }

  .hero__mouse {
    display: none;
  }

  .timetable {
    padding-bottom: 0.9375rem;
  }

  .timetable__container {
    row-gap: 2.1875rem;
  }

  .timetable__row {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .about {
    padding-top: 0.9375rem;
  }

  .about {
    padding-bottom: 0.9375rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .program {
    padding-top: 0.9375rem;
  }

  .program {
    padding-bottom: 0.9375rem;
  }

  .program__container {
    gap: 1.25rem;
  }

  .program__content p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .program__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .slider {
    padding-top: 0.9375rem;
  }

  .slider {
    padding-bottom: 0.9375rem;
  }

  .maps {
    padding-top: 0.9375rem;
  }

  .maps {
    padding-bottom: 0.9375rem;
  }

  .maps__container {
    row-gap: 1.25rem;
  }

  .faq {
    padding-top: 0.9375rem;
  }

  .faq {
    padding-bottom: 0.9375rem;
  }

  .faq__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 47.99875em) and (max-width: 68.75em) {
@supports (padding-top: clamp( 1.875rem , -3.9076335763rem  +  12.0474670201vw , 4.375rem )) {
    .header__container {
      padding-top: clamp( 1.875rem , -3.9076335763rem  +  12.0474670201vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -3.9076335763rem  +  12.0474670201vw , 4.375rem )) {
    .header__container {
      padding-top: calc(1.875rem + 2.5 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (font-size: clamp( 0.6875rem , -0.9027242335rem  +  3.3130534305vw , 1.375rem )) {
    .header__text {
      font-size: clamp( 0.6875rem , -0.9027242335rem  +  3.3130534305vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , -0.9027242335rem  +  3.3130534305vw , 1.375rem )) {
    .header__text {
      font-size: calc(0.6875rem + 0.6875 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -16.1957299259rem  +  37.6483344377vw , 9.6875rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , -16.1957299259rem  +  37.6483344377vw , 9.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -16.1957299259rem  +  37.6483344377vw , 9.6875rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 7.8125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (height: clamp( 27.75rem , -24.0045705078rem  +  107.8248298295vw , 50.125rem )) {
    .hero__media-ibg {
      height: clamp( 27.75rem , -24.0045705078rem  +  107.8248298295vw , 50.125rem );
    }
}

@supports not (height: clamp( 27.75rem , -24.0045705078rem  +  107.8248298295vw , 50.125rem )) {
    .hero__media-ibg {
      height: calc(27.75rem + 22.375 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (width: clamp( 20.9375rem , -18.9626716764rem  +  83.1275224384vw , 38.1875rem )) {
    .hero__media-ibg {
      width: clamp( 20.9375rem , -18.9626716764rem  +  83.1275224384vw , 38.1875rem );
    }
}

@supports not (width: clamp( 20.9375rem , -18.9626716764rem  +  83.1275224384vw , 38.1875rem )) {
    .hero__media-ibg {
      width: calc(20.9375rem + 17.25 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (width: clamp( 20.9375rem , -18.2398424794rem  +  81.6215890609vw , 37.875rem )) {
    .hero__media-ibg::after {
      width: clamp( 20.9375rem , -18.2398424794rem  +  81.6215890609vw , 37.875rem );
    }
}

@supports not (width: clamp( 20.9375rem , -18.2398424794rem  +  81.6215890609vw , 37.875rem )) {
    .hero__media-ibg::after {
      width: calc(20.9375rem + 16.9375 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (height: clamp( 7.5rem , -11.2935591229rem  +  39.1542678152vw , 15.625rem )) {
    .hero__media-ibg::after {
      height: clamp( 7.5rem , -11.2935591229rem  +  39.1542678152vw , 15.625rem );
    }
}

@supports not (height: clamp( 7.5rem , -11.2935591229rem  +  39.1542678152vw , 15.625rem )) {
    .hero__media-ibg::after {
      height: calc(7.5rem + 8.125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (bottom: clamp( 2.8125rem , -1.5244751822rem  +  9.035600265vw , 4.6875rem )) {
    .hero__media-ibg::after {
      bottom: clamp( 2.8125rem , -1.5244751822rem  +  9.035600265vw , 4.6875rem );
    }
}

@supports not (bottom: clamp( 2.8125rem , -1.5244751822rem  +  9.035600265vw , 4.6875rem )) {
    .hero__media-ibg::after {
      bottom: calc(2.8125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .timetable {
      padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .timetable {
      padding-bottom: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (row-gap: clamp( 2.1875rem , -10.1005963496rem  +  25.6008674176vw , 7.5rem )) {
    .timetable__container {
      row-gap: clamp( 2.1875rem , -10.1005963496rem  +  25.6008674176vw , 7.5rem );
    }
}

@supports not (row-gap: clamp( 2.1875rem , -10.1005963496rem  +  25.6008674176vw , 7.5rem )) {
    .timetable__container {
      row-gap: calc(2.1875rem + 5.3125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem )) or (column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem ))) {
    .timetable__row {
      -webkit-column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem );
         -moz-column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem );
              column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem )) or (column-gap: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem ))) {
    .timetable__row {
      -webkit-column-gap: calc(0.9375rem + 8.4375 * (100vw - 47.99875rem) / 20.75125);
         -moz-column-gap: calc(0.9375rem + 8.4375 * (100vw - 47.99875rem) / 20.75125);
              column-gap: calc(0.9375rem + 8.4375 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .about {
      padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .about {
      padding-top: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem )) {
    .about {
      padding-bottom: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem )) {
    .about {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.6413167881rem  +  6.02373351vw , 2.5rem )) {
    .about__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -1.6413167881rem  +  6.02373351vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.6413167881rem  +  6.02373351vw , 2.5rem )) {
    .about__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-top: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem )) {
    .program {
      padding-top: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -5.5679627733rem  +  13.5534003976vw , 3.75rem )) {
    .program {
      padding-top: calc(0.9375rem + 2.8125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .program {
      padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .program {
      padding-bottom: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (gap: clamp( 1.25rem , -6.4119894886rem  +  15.9628938016vw , 4.5625rem )) {
    .program__container {
      gap: clamp( 1.25rem , -6.4119894886rem  +  15.9628938016vw , 4.5625rem );
    }
}

@supports not (gap: clamp( 1.25rem , -6.4119894886rem  +  15.9628938016vw , 4.5625rem )) {
    .program__container {
      gap: calc(1.25rem + 3.3125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -1.9771851093rem  +  5.421360159vw , 1.75rem )) {
    .program__content p:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -1.9771851093rem  +  5.421360159vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -1.9771851093rem  +  5.421360159vw , 1.75rem )) {
    .program__content p:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .program__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .program__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .slider {
      padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .slider {
      padding-top: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -11.3505963496rem  +  25.6008674176vw , 6.25rem )) {
    .slider {
      padding-bottom: clamp( 0.9375rem , -11.3505963496rem  +  25.6008674176vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -11.3505963496rem  +  25.6008674176vw , 6.25rem )) {
    .slider {
      padding-bottom: calc(0.9375rem + 5.3125 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .maps {
      padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .maps {
      padding-top: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .maps {
      padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .maps {
      padding-bottom: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (row-gap: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .maps__container {
      row-gap: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .maps__container {
      row-gap: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .faq {
      padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -7.7364503644rem  +  18.0712005301vw , 4.6875rem )) {
    .faq {
      padding-top: calc(0.9375rem + 3.75 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem )) {
    .faq {
      padding-bottom: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -18.57888832rem  +  40.6602011927vw , 9.375rem )) {
    .faq {
      padding-bottom: calc(0.9375rem + 8.4375 * (100vw - 47.99875rem) / 20.75125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .faq__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -4.5326335763rem  +  12.0474670201vw , 3.75rem )) {
    .faq__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 20.75125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #024745;
  }
}

.webp .hero__media-ibg::after{ background: url(../img/title.webp) 0 0/cover no-repeat; }